* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #00c8ff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    background-color: #ffffff;
}

.loading {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    animation: efect 1s infinite;
}

.loading:nth-child(2){
    animation-delay: .1s;
}

.loading:nth-child(3){
    animation-delay: .2s;
}

.loading:nth-child(4){
    animation-delay: .3s;
}


@keyframes efect {
    0% {
        transform: translateY(5px);
        background-color: #ffffff;
    }
    50%{
        transform: translateY(35px);
        background-color: #009dff;
    }
    75%{
        background-color: #ffffff;
        transform: translateY(20px);
    }
}